$breakpoints:(
    xs: 320px,
    s: 480px,
    m: 768px,
    l: 960px,
    xl: 1024px
);

@mixin media-up($breakpoint){
    @media screen and (min-width: map-get($breakpoints, $breakpoint)){
        @content;
    }
}



@mixin grid( $columnas , $espacio){
    display                 : grid;
    grid-template-columns   : repeat( $columnas , 1fr );
    gap                     : $espacio;

    @media screen and (max-width:480px) {
        grid-template-columns : 1fr ;
        gap : 0em;
    }
}

/*
main{
    @include grid( 4 , 1em );
}
section{
    @include grid( 3 , 2em );
}
*/

//==================================================//

@mixin movil(){
    @media screen and (max-width: 480px) {
        @content;
    }
}
/*
p{
    font-size: 4em;

    @include movil(){
        font-size: 2em;
    }
}*/

//==================================================//

@mixin mv( $medida : 480px ){
    @media screen and (max-width: $medida ) {
        @content;
    }
}
/*
article{
    width:25%;
    @include mv(768px){ width:50% }
    @include mv(){ width:100% }
}
*/

//=====================================================//
/*
article{
    width:25%;
}*/
@media screen and (max-width:768px){
    article{
        width:50%;
    }
}
@media screen and (max-width:480px){
    article{
        width:100%;
    }
}
